// breakpoints
@import './fonts';

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$heading-font: Montserrat;

// colors
$font-color: #222222;
$primary: #6C63FF;
$hero-bg: #efefef;
$hero-bg: #efefef;
$section-bg: #fbfbfb;
$body-text: #525252;

// padding for different breakpoints
$mobile-padding: 0px;
$tablet-padding: 5%;
$desktop-padding: 12%;