$color-primary: pink;
$color-secondary: green;

$color-dark-green: #007965;
$color-dark-red: #8c0000;
$color-dark-blue: #28527a;
$color-dark-orange: #e45826;
$color-dark-yellow: #f0a500;
$color-dark-pink: #b34180;
$color-dark-purple: #440a67;
$color-light-green: #00af91;
$color-light-red: #f05454;
$color-light-blue: #8ac4d0;
$color-light-orange: #ef8d32;
$color-light-yellow: #f9f871;
$color-light-pink: #f8a1d1;
$color-light-purple: #93329e;
$color-black: #000000;
$color-white: #ffffff;


$font-size-baseline: 18px;
