html {
  font-size: 18px; }

h1 {
  color: #f0a500;
  font-size: 3rem; }

h2 {
  color: #781018;
  font-size: 2.4rem; }

h3 {
  color: #669a51;
  font-size: 2rem; }

h4 {
  color: #99a67a;
  font-size: 1.65rem; }

h5 {
  color: #ccb3a2;
  font-size: 1.5rem; }

h6 {
  color: pink;
  font-size: 1.25rem; }

.card {
  border: 2px solid #2d2d2d;
  padding: 5px;
  margin: 5px;
  border-radius: 4px; }
  .card:hover {
    background-color: #eeeeee;
    cursor: pointer; }
